* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.grid {
  margin: 30px 0 0 0;
}

.row {
  height: 25px;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  background: hsla(32, 92%, 74%, 1);
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.05));
}

button:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0;
}

.nav-bar {
  width: 100%;
  background: hsla(216, 93%, 57%, 1);
  padding: 10px 0;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.05);
  color: white;
  font-family: "Nunito";
  z-index: +50;
}

.logo {
  padding: 10px;
  margin: auto 0;
  font-size: 1.2em;
  font-family: "Roboto";
  font-weight: 300;
}
.nav-item {
  padding: 10px;
  margin: auto;
}
.nav-item:hover {
  color: hsla(32, 92%, 74%, 1);
  text-decoration: underline;
}
.between {
  justify-content: space-between;
}
.directory {
  margin: 0 10px;
}
#drop-down {
  display: none;
  position: absolute;
  height: fit-content;
  z-index: +50;
  background-color: rgb(157, 194, 250);
  padding: 0 2vw;
  text-align: center;
  color: white;
}
#drop-down > li {
  padding: 5px;
}
.drop:hover #drop-down {
  display: block;
}

/* FONTS */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-BlackItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Black.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraLight.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraBoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Italic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraLightItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Light.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-SemiBoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-ThinItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
