* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.grid {
  margin: 0 auto auto auto;
  z-index: +5;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
}

.row {
  height: 25px;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  background: #F5B000;
  font-family: 'Visby Round CF';
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

.logo-text{
  position: relative;
  margin: auto;
  display: inline-block;
}

button:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0;
}

.drop{
  position: relative;
}
.nav-back {
  width: 100vw;
  padding: 10px 0;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.05);
}
.nav-bar {
  margin: 0 auto;
  width: 95vw;
  color: hsla(226, 22%, 20%, 1);
  font-family: "Nunito";
  z-index: +50;
}
.nav-buttons{
  margin: auto 0;
}

#current-algo{
  font-size: 0.7em;
  color: #6B6B6B;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
}
.logo {
  padding: 10px;
  margin: auto 0;
  font-size: 1.6em;
  font-family: "Roboto";
  font-weight: 500;
}
.nav-item {
  padding: 0 30px;
  font-size: 1.3em;
  margin: auto;
  position: relative;
}

.nav-item:after{
  content: "";
  height: inherit;
  width: 0%;
  position:relative;
  bottom: 3px;
  border-bottom: 2px solid #B99230;
  display: block;
  background-color: #B99230;
  transform: scaleY(0.8);
}
.nav-item:hover:after{
  width: 100%;
  transition: all 0.25s ease-in;
}
.nav-item:hover {
  color: #B99230;
}
.between {
  justify-content: space-between;
}
.even {
  justify-content: space-evenly;
}
.clear{
  color: #AAB2CE;
  background-color: #FDE8B0;
}
.directory {
  margin: 0 10px;
}
#drop-down {
  --drop-width: 70%;
  display: none;
  position: absolute;
  height: fit-content;
  font-family: 'Visby Round CF';
  font-size: 0.75em;
  margin-top: 0px;
  width: var(--drop-width);
  left: calc((100% - var(--drop-width))/2);
  z-index: +50;
  background-color: white;
  text-align: center;
  color: black;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.05);
}
#drop-down > li {
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
#drop-down > li:hover{
  background-color:rgba(0, 0, 0, 0.05);
}
.drop:hover #drop-down {
  display: block;
}

.legend{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content:space-around;
  margin: auto;
  width: 40vw;
}

.legend-item{
  display: flex;
  justify-content: space-evenly;
  text-align:center;
  width: fit-content;
}
.legend-item > img{
  width: 25px;
  height: 25px;
  margin: auto;
}
.legend-item > .key{
  font-size: 0.9em;
  color: grey;
  margin: auto 0;
  padding: 10px;
}
/* FONTS */
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-BlackItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Black.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraLight.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraBoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Italic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraLightItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Light.woff2") format("woff2"),
    url("../assets/fonts/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-SemiBoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Nunito-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BlackItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-MediumItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-ThinItalic.woff2") format("woff2"),
    url("../assets/fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-Bold.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-DemiBold.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-Light.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-ExtraLight.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-Heavy.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-Regular.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('../assets/fonts/VisbyRoundCF-Medium.woff2') format('woff2'),
      url('../assets/fonts/VisbyRoundCF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



