.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(250, 244, 229);
  display: inline-block;
  user-select: none;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}


.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(217, 17, 17, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(217, 87, 0, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 239, 185, 0.75);
    outline: 1px solid rgb(238, 205, 116);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
  outline: none;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(152, 255, 238);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(152, 162, 255);
  }

  100% {
    transform: scale(1);
    background-color: rgb(152, 255, 238);
  }
}

.node-tentative-start {
  background-color: yellowgreen !important;
}

.node-tentative-finish {
  background-color: pink !important;
}
.node .node-visited .node-tentative-start{
  background-color: yellowgreen;
}
.node .node-visited .node-tentative-finish{
  background-color: pink;
}